<div id="topmenu" class="row">
  <div class="sitename col-md-10">Poker Plan</div>
  <div class="mode col-md-2">
    <%= button_to 'Light Mode', mode_path(:lightmode), method: :put %>
    <%= button_to 'Dark Mode', mode_path(:darkmode), method: :put %>
  </div>
</div>
